.projects {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-right: 8vw;
    margin-left: 2vw;
}

p {
    text-align: center;
}

h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.3vh auto 0;
}

@media (min-width: 800px) {
    .projects {
        margin-right: auto;
        margin-left: auto;
    }
}
