.root {
    height: 80%;
    width: 90%;
    margin: 0 auto;
    background-color: lemonchiffon;
    color: black;
    overflow-y: scroll;
}

.screenshot {
    width: 90%;
    height: 70%;
    display: block;
    margin: 3vh auto;
    border-radius: 2%;
}

p {
    text-align: center;
}

.clear {
    color: black;
    position: absolute;
    font-size: large;
    right: 9%;
    top: 14%;
}

h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.3vh auto 0;
}

@media (min-width: 800px) {
    .root {
        width: 40%;
        height: 76%;
    }

    .screenshot {
        width: 60%;
        height: 40%;
    }

    .clear {
        right: 32%;
        top: 16%;
    }
}
