.links {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin: 6vh 3vw;
}

.icons:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin: 4vh auto;
    }
}
