.home {
    display: flex;
    flex-direction: column;
}

.home::-webkit-scrollbar {
    display: none;
}

.links {
    display: flex;
    justify-content: space-around;
}

.home__title {
    margin: 4vh 3vw;
}

.icons:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.home__projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: lightsteelblue;
}

.home__projectsTitle {
    font-weight: bold;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.home__button {
    background-color: #6c63ff;
    color: white;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 30px;
}

#bottom {
    transition: all 1s ease-in;
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    .home__title {
        margin: 4vh auto;
    }

    .home__projectsTitle {
        margin: 6vh auto 0;
    }
}
