.home {
    display: flex;
    flex-direction: column;
}

.home::-webkit-scrollbar {
    display: none;
}

.links {
    display: flex;
    justify-content: space-around;
}

.home__title {
    margin: 4vh 3vw;
}

.icons:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.home__projects {
    display: flex;
    flex-direction: column;
    height: 93vh;
    background-color: lightsteelblue;
}

.home__projectsTitle {
    font-weight: bold;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.home__projectsNote {
    font-size: 10px;
}

.home__arrowDown {
    background-color: #6c63ff;
    color: white;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 50%;
}

.home__arrowUp {
    background-color: #6c63ff;
    color: white;
    padding: 12px !important;
    outline: none;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home__footer {
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
}

.home__footerText {
    font-size: 18px;
    font-weight: 500;
}

#bottom {
    transition: all 1s ease-in;
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    .home__title {
        margin: 4vh auto;
    }

    .home__projectsTitle {
        margin: 6vh auto 0;
    }

    .home__arrowUp {
        width: 30px !important;
        height: 30px !important;
    }
}
