.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.description {
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
}

@media (min-width: 800px) {
    .modal {
        width: 50%;
    }
}
